@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: #C11119;
}

.bg-primary-mouse {
    background-color: #eb1924;
}

.text-primary {
    color: #C11119;
}

.custom-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.top-right-overlay {
    position: absolute;
    top: 20px;
    right: 10px;
}

@media screen and (max-width: 640px) {
    .custom-overlay {
        font-size: 12px;
    }
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #C11119;
    position: relative;
    animation: l24 1s infinite linear;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}

.loader:after {
    animation-duration: 4s;
}

@keyframes l24 {
    100% {
        transform: rotate(1turn)
    }
}